<p>Ben Trey<br>
Take-Home Challenge: Relax Data Science Challenge<br>
2019/1/3</p>

In [14]:
import datetime
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

directory = '/mnt/c/users/我的电脑/desktop/springboard/relax_challenge/'

<p>1]  A  user  table  ( "takehome_users" )  with  data  on  12,000  users  who  signed  up  for  the
product  in  the  last  two  years.   This  table  includes:<br>
&nbsp;&nbsp;● name:  the  user's  name<br>
&nbsp;&nbsp;● object_id:   the  user's  id<br>
&nbsp;&nbsp;● email:  email  address<br>
&nbsp;&nbsp;● creation_source:   how  their  account  was  created.  This  takes  on  one
of  5  values:<br>
&nbsp;&nbsp;&nbsp;&nbsp;○ PERSONAL_PROJECTS:  invited  to  join  another  user's
personal  workspace<br>
&nbsp;&nbsp;&nbsp;&nbsp;○ GUEST_INVITE:  invited  to  an  organization  as  a  guest
(limited  permissions)<br>
&nbsp;&nbsp;&nbsp;&nbsp;○ ORG_INVITE:  invited  to  an  organization  (as  a  full  member)<br>
&nbsp;&nbsp;&nbsp;&nbsp;○ SIGNUP:  signed  up  via  the  website<br>
&nbsp;&nbsp;&nbsp;&nbsp;○ SIGNUP_GOOGLE_AUTH:  signed  up  using  Google
Authentication  (using  a  Google  email  account  for  their  login
id)<br>
&nbsp;&nbsp;● creation_time:  when  they  created  their  account<br>
&nbsp;&nbsp;● last_session_creation_time:   unix  timestamp  of  last  login<br>
&nbsp;&nbsp;● opted_in_to_mailing_list:  whether  they  have  opted  into  receiving
marketing  emails<br>
&nbsp;&nbsp;● enabled_for_marketing_drip:  whether  they  are  on  the  regular
marketing  email  drip<br>
&nbsp;&nbsp;● org_id:   the  organization  (group  of  users)  they  belong  to<br>
&nbsp;&nbsp;● invited_by_user_id:   which  user  invited  them  to  join  (if  applicable).
</p>

<p>2]  A  usage  summary  table  ( "takehome_user_engagement" )  that  has  a  row  for  each  day
that  a  user  logged  into  the  product.<br>
Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate
days  in  at  least  one  seven­day  period ,  identify  which  factors  predict  future  user
adoption .<br>
We  suggest  spending  1-2  hours  on  this,  but  you're  welcome  to  spend  more  or  less.
Please  send  us  a  brief  writeup  of  your  findings  (the  more  concise,  the  better  ­­  no  more
than  one  page),  along  with  any  summary  tables,  graphs,  code,  or  queries  that  can  help
us  understand  your  approach.  Please  note  any  factors  you  considered  or  investigation
you  did,  even  if  they  did  not  pan  out.  Feel  free  to  identify  any  further  research  or  data
you  think  would  be  valuable.<br>

In [3]:
data = pd.read_csv(directory+'takehome_users.csv', engine='python')
data.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
data_engagement = pd.read_csv(directory+'takehome_user_engagement.csv', engine='python')
data_engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [5]:
data_engagement['time_stamp']=pd.to_datetime(data_engagement['time_stamp'])

In [6]:
def adopted_user(table):
    if len(table)<3:
        return False
    else:
        is_adopted_user = False
        for n in range(2,len(table)):
            if (table.iloc[n]['time_stamp']-table.iloc[n-2]['time_stamp']).days<7:
                is_adopted_user = True
        return is_adopted_user

In [7]:
test_user = data_engagement[data_engagement['user_id']==2]
adopted_user(test_user)

True

In [8]:
test_user

            time_stamp  user_id  visited
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1
5  2013-12-31 03:45:04        2        1
6  2014-01-08 03:45:04        2        1
7  2014-02-03 03:45:04        2        1
8  2014-02-08 03:45:04        2        1
9  2014-02-09 03:45:04        2        1
10 2014-02-13 03:45:04        2        1
11 2014-02-16 03:45:04        2        1
12 2014-03-09 03:45:04        2        1
13 2014-03-13 03:45:04        2        1
14 2014-03-31 03:45:04        2        1

In [9]:
data['adopted_user'] = data.apply(lambda row: adopted_user(data_engagement[data_engagement['user_id']==row['object_id']]),axis=1)

In [10]:
file=open(directory+'data.csv','+w')
file.write(data.to_csv())
file.close

In [24]:
data=data.dropna()
data.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False

In [25]:
corr = data.corr()
corr['adopted_user']

object_id                    -0.004782
last_session_creation_time    0.393824
opted_in_to_mailing_list      0.012414
enabled_for_marketing_drip   -0.007012
org_id                        0.069356
invited_by_user_id           -0.001709
adopted_user                  1.000000
Name: adopted_user, dtype: float64

In [27]:
# Split the data into a training and test set.
x_train, x_test, y_train, y_test = train_test_split(data[['object_id','last_session_creation_time','org_id',\
                                'opted_in_to_mailing_list','enabled_for_marketing_drip','org_id',\
                                'invited_by_user_id']].values, (data.adopted_user == True).values,\
                                test_size=0.2,random_state=5)


clf = LogisticRegression(solver='lbfgs')

# Fit the model on the trainng data.
clf.fit(x_train, y_train)

# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(x_test), y_test))

0.8190376569037657

In [28]:
clf = RandomForestRegressor(n_estimators=100)
clf.fit(x_train, y_train)
temp_score = clf.score(x_test, y_test)
print(temp_score)

0.35986978495338073

In [29]:
clf = MultinomialNB()
clf.fit(x_train, y_train)
temp_score = clf.score(x_test, y_test)
print(temp_score)

0.5324267782426778

In [30]:
#the grid of parameters to search over
Cs = [0.001, 0.1, 1, 10, 100]

# your turn
for c in Cs:
    clf = LogisticRegression(C=c, solver='lbfgs',max_iter=3000)
    clf.fit(x_train, y_train)
    accuracy = accuracy_score(clf.predict(x_test), y_test)
    print("C:",c," score:",accuracy)

C: 0.001  score: 0.8190376569037657
C: 0.1  score: 0.8190376569037657
C: 1  score: 0.8190376569037657
C: 10  score: 0.8190376569037657
C: 100  score: 0.8190376569037657

In [31]:
#the grid of parameters to search over
iters = [100, 500, 1000, 2000, 4000]

# your turn
for it in iters:
    clf = LogisticRegression(C=0.1, solver='lbfgs',max_iter=it)
    clf.fit(x_train, y_train)
    accuracy = accuracy_score(clf.predict(x_test), y_test)
    print("max_iters:",it," score:",accuracy)

max_iters: 100  score: 0.8190376569037657
max_iters: 500  score: 0.8190376569037657
max_iters: 1000  score: 0.8190376569037657
max_iters: 2000  score: 0.8190376569037657
max_iters: 4000  score: 0.8190376569037657

<p>The most important factor in predicting if a user is a repeat user is the last time they logged in. This not surprising because a recent user is also probably a frequent user. Logisitic Regression gave the best fit. The fittig of the hyperparameters did not give a better score.</p>