<p>Ben Trey<br>
Project: JSON Based Data Exercise<br>
Data Science Track<br>
2019/6/7<br>
</p>

In [3]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

<b>1. Find the 10 countries with most projects</b>

In [4]:
#load json string
json_data_df=pd.read_json('data/world_bank_projects.json')
#finding the 10 countries with the most projects
json_data_df['countryshortname'].value_counts()[:11]

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Pakistan               9
Name: countryshortname, dtype: int64

<p>I added an additional country incase Africa doesn't count.</p>

<b>2. Find the top 10 major project themes (using column 'mjtheme_namecode')</b>

In [5]:
#load json string
json_data_df = pd.read_json('data/world_bank_projects.json')

#getting the mjtheme_namecode
series_of_jsons = json_data_df.mjtheme_namecode
df = pd.DataFrame()
for line in series_of_jsons:
    temp_df = pd.DataFrame(line)
    df = df.append(temp_df)

df_pivot_table = pd.pivot_table(df, index=['code','name'], aggfunc=len).sort_values(ascending=False)[:10]
df_pivot_table.columns=['theme_count']
df_pivot_table

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
dtype: int64

<b>3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.</b>

In [6]:
#load json string
json_data_df = pd.read_json('data/world_bank_projects.json')
json_data_df = json_data_df[pd.notnull(json_data_df['mjtheme_namecode'])]

#getting the mjtheme_namecode
series_of_jsons = json_data_df.mjtheme_namecode
df = pd.DataFrame()
for line in series_of_jsons:
    temp_df = pd.DataFrame(line)
    df = df.append(temp_df)

df_pivot_table = pd.pivot_table(df, index='code', aggfunc=len).sort_values(by=['name'],ascending=False)[:10]
df_pivot_table.columns=['theme_count']
df_names=[]
for index in df_pivot_table.index:
    df_names.append(df[df['code']==index]['name'].mode().iloc[0])
df_names=pd.Series(df_names,index=df_pivot_table.index)
df_pivot_table['name']=df_names
df_pivot_table

      theme_count                                          name
code
11            250  Environment and natural resources management
10            216                             Rural development
8             210                             Human development
2             199                      Public sector governance
6             168         Social protection and risk management
4             146      Financial and private sector development
7             130                   Social dev/gender/inclusion
5              77                         Trade and integration
9              50                             Urban development
1              38                           Economic management